 .meters {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}

.meters .card {
    width: 200px;
    height: 200px;
    background-color: white;
    color: black ;
    border-radius: 10px;
    box-shadow:0 0 10px rgba(255, 255, 255, 0.668);
    transition: 0.3s;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.meters .card:hover {
    transform: scale(1.1);
} 

.meters .card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    white-space: nowrap;
}

.meters .card-header-box{
    display: flex;
    flex-direction: column;
    min-width: 50%;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.meters .card-header-box-name{
    font-size: 15px;
    font-weight: bold;
}

.meters .card-header-box-value{
    font-size: 16px;
    font-weight: #333;
}

.meters .card button{
    background-color: #ffc20e;
    color: rgba(33, 33, 33, 33);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
}

.meters .textincircle{
    color: #333;
    font-weight: 700;
}

