body{
    background-color: black;
    color: white;
}
.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

}
.authform{
    display: flex;
    flex: column;
    position: relative;
    /* align-items: center; */
    background-color: black;
    width: 60%;
    border-radius: 10px;
    /* overflow-y: scroll; */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.668);
}

.authform .left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.authform .left img{
    width: 80%;
    object-fit: contain;
}
.authform .left .left_content{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    padding: 10px;
    gap: 1rem; 
}
.authform .right{
    width: 50%; 
    height: 100%;
    border-left: 1px solid #ffc20e;
    padding: 20px;
    overflow: scroll;
}

.authform .right h1{
    color: #ffc20e;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin: 10px 0px;
}

.authform .right form{
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.authform p{
    margin: 10px 0px;
}

.authform .form_input_leftright{
    display: flex;
    gap: 10px;
}
.authform .closebtn {
    position: absolute;
    top: 0px; /* Adjust as needed */
    right: 5px; /* Adjust as needed */
    border-radius: 50%;
    color: #ffc20e;
    background-color: transparent;
    border: none; /* Remove default button border */
    cursor: pointer; /* Change cursor to pointer */
    font-size: 25px; /* Adjust font size as necessary */
    line-height: 0; /* Keep line height at 0 to fit the icon */
    transition: color 0.3s; /* Smooth transition for hover effect */
}
.form-input-leftright {
    display: flex;
    flex-direction: column; 
    gap: 15px; /* Adds spacing between input fields */
  }
  
  .input-wrapper {
    margin-bottom: 15px; /* Adjusts margin between fields */
  }
  .datepicker-wrapper {
    margin-top: 10px; /* Add some space between the label and the input */
  }
  label {
    margin-bottom: 5px; /* Adds space between label and input */
  }
  
